<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body
    class="bg-gradient-to-br from-blue-200 to-purple-400 min-h-screen flex items-center justify-center pb-32"
  >
    <!-- Logo -->
    <div class="absolute top-4 left-6 flex justify-center items-center gap-2">
      <svg
        height="200px"
        width="200px"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 492.481 492.481"
        xml:space="preserve"
        fill="#000000"
        class="w-6 h-6"
      >
        <linearGradient
          id="SVGID_1_"
          gradientUnits="userSpaceOnUse"
          x1="-36.6002"
          y1="621.3422"
          x2="-17.2782"
          y2="547.7642"
          gradientTransform="matrix(7.8769 0 0 -7.8769 404.0846 4917.9966)"
        >
          <stop offset="0" style="stop-color: #29d3da"></stop>
          <stop offset="0.519" style="stop-color: #0077ff"></stop>
          <stop offset="0.999" style="stop-color: #064093"></stop>
          <stop offset="1" style="stop-color: #084698"></stop>
        </linearGradient>
        <polygon
          style="fill: url(#SVGID_1_)"
          points="25.687,297.141 135.735,0 271.455,0 161.398,297.141 "
        ></polygon>
        <linearGradient
          id="SVGID_2_"
          gradientUnits="userSpaceOnUse"
          x1="-27.0735"
          y1="620.7541"
          x2="-11.7045"
          y2="560.3241"
          gradientTransform="matrix(7.8769 0 0 -7.8769 404.0846 4917.9966)"
        >
          <stop offset="0.012" style="stop-color: #e0b386"></stop>
          <stop offset="0.519" style="stop-color: #da498c"></stop>
          <stop offset="1" style="stop-color: #961484"></stop>
        </linearGradient>
        <polygon
          style="fill: url(#SVGID_2_)"
          points="123.337,394.807 233.409,97.674 369.144,97.674 259.072,394.807 "
        ></polygon>
        <linearGradient
          id="SVGID_3_"
          gradientUnits="userSpaceOnUse"
          x1="14.0324"
          y1="554.688"
          x2="-10.4176"
          y2="584.028"
          gradientTransform="matrix(7.8769 0 0 -7.8769 404.0846 4917.9966)"
        >
          <stop offset="0" style="stop-color: #29d3da"></stop>
          <stop offset="0.519" style="stop-color: #0077ff"></stop>
          <stop offset="0.999" style="stop-color: #064093"></stop>
          <stop offset="1" style="stop-color: #084698"></stop>
        </linearGradient>
        <polygon
          style="fill: url(#SVGID_3_)"
          points="221.026,492.481 331.083,195.348 466.794,195.348 356.746,492.481 "
        ></polygon>
      </svg>
      <p class="text-2xl text-indigo-500 tracking-wide font-bold">AURA</p>
    </div>

    <div
      class="w-full max-w-96 sm:w-96 rounded-lg bg-slate-900 p-10 text-sm text-indigo-300 mt-18"
    >
      <h1 class="mb-4 text-center text-3xl font-semibold text-white">Login</h1>
      <p class="mb-6 text-center text-sm">Welcome Back!</p>

      <form action="/login" method="POST">
        <!-- Email -->
        <div class="mb-5 flex gap-3 rounded-full bg-[#333A5c] px-6 py-3">
          <input
            type="text"
            placeholder="Username"
            class="bg-transparent border-none outline-none text-white w-full"
            name="username"
            id="username"
          />
        </div>
        <!-- Password -->
        <div class="mb-5 flex gap-3 rounded-full bg-[#333A5c] px-6 py-3">
          <input
            type="password"
            placeholder="Password"
            class="bg-transparent border-none outline-none text-white w-full"
            name="password"
            id="password"
          />
        </div>

        <p class="mb-6 mr-2 text-sm flex justify-end">
          <a href="forgotpassword" class="text-blue-400 hover:underline"
            >Forgot Password?</a
          >
        </p>

        <button
          type="submit"
          class="w-full rounded-full bg-gradient-to-r from-indigo-400 to-indigo-900 py-3 font-medium tracking-wide text-white cursor-pointer"
        >
          Login
        </button>
      </form>

      <p class="mt-4 mb-7 text-center text-sm text-slate-400">
        Don't have an account?
        <a href="/signup" class="hover:underline text-blue-400">Sign Up</a>
      </p>

      <span
        class="block w-full h-0.5 bg-gradient-to-r from-slate-900 via-indigo-500 to-slate-900"
      ></span>
    </div>

    <p class="absolute bottom-10 right-20 font-semibold text-slate-700">
      Source Code
      <a
        href="https://github.com/Shreyas-Daptare"
        target="_blank"
        class="text-indigo-800 underline"
      >
        Github
      </a>
    </p>
  </body>
</html>
